@import "tailwindcss";

@theme {
  --color-header: #1a2437;
  --color-firstSection: #2e3f61;
  --color-secondSection: #1b233a;
  --color-card: #161f34;
  --color-card-2: #1f2b41;
}

.animate-bounce {
  animation-duration: 2000ms;
}

.bg-text{
  @apply bg-gradient-to-r text-transparent bg-clip-text inline-block 
}
.container {
  @apply w-11/12  md:w-10/12 text-center m-auto
}



@theme {
  @keyframes bounce {

    0%,
    100% {
      transform: translateY(-10%);
      /* animation-timing-function: cubic-bezier(0.8, 0, 1, 1); */
    }

    50% {
      transform: none;
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}